h1{
    color: blue;
}
h2{
    color: #46484c;
}
p{
   color: #8b8b8bcc;
}
body{
    background-color: #fffbf7;
}
#boton{
    background-color: #025157;
    color: #fff;
}
.fixed_header{
  position: fixed;
  background-color: white;
  top: 0;
  left: 0;
  right: 0;
  bottom: 10;
  display: inline;
}
.header {
    margin: 40px 20px 0 20px;
        font-size: 0;
    line-height: 45px;
  }
  
  li {
    display: inline;
  }
    
  .header > * {
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
    height: 100%;
    line-height: 45px;
  }
  
  .logo {
    width: 15%;
  }
  
  .navbar {
    width: 70%;
    text-align: center;
    color: #025157;
    font-family: sans-serif;
    
  }
  
  .actions {
    width: 15%; 
    text-align: right;
    font-size: 14px;
    padding: 0px;
    float: right;
    }
    .actions a{
        color: #67b54b;
    }
  .navbar a{
      text-decoration: none;
      padding: 25px;
      color: green;
  }
  .navbar a :hover{
      cursor: pointer;
        }
    button {
        color: white;
        background-color: #67b54b;
        padding: 12px 14px 12px 14px;
        border-radius: 5px;
    }
    main{
      margin-top: 15rem;
      text-align: center;
    }
    /*ajustando el formulario*/
    .formulario{
      margin-left: 4rem;
    }
    .formulario__etiqueta{
      display: grid;
      margin: 0 auto;
      
    }
    .formulario input{
      max-width: 60%;
    }

   
    /* aca va el apartado publicitario*/
    .publicidad__contenedor{
      display: flex;
      gap: 2rem;
      margin-left: 25%;
      /*width: 70%;
      margin: 100% auto;
      align-items: center; */
    }
    .publicidad__video h2{
      font-family: sans-serif;
      font-size: larger;
      color: rgb(8, 117, 117);
        
    }
    .publicidad__video p{
      color: black;
      padding: 2rem;
    }
    .publicidad__contenedor video{
      width: 50%;
      
    }
    .texto__claro{
      font-size: smaller;
      color: grey;
    }
    .publicidad__imagen__pequeña{
      width: 10%;
      margin-left: 25%;
      position: absolute;
      margin-top: 22rem;
      margin-right: 75rem;
      margin-left: 3rem;
    }
    /* colocando la seccion quien usa matcha*/
    .quien_usa_matcha{
      background-color: #a1d683;
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    .quien_usa_matcha h3{
      color: rgb(33, 95, 69);
      font-size: 3rem;
      font-family: alegreya;
    }
    .quien_usa_matcha h5{
      color: cadetblue;
      font-size: larger;
      
    }
    .quien_usa_matcha p{
      color: black;
      font-size: 18px;
      line-height: 1.5;
      margin-bottom: 1rem;
    }
    .quien_usa_matcha__carrusel{
      float: right;
      background-color: white;
      padding: 0;
      border-radius: 8px;
      width: 40%;
      margin-top: 3rem;
      margin-bottom: 3rem;
      margin-right: 15rem;
    }
    .quien_usa_matcha__carrusel img{
      max-width: 100%;
      margin: 0 0 1rem 0rem ;
          }
          .quien_usa_matcha button{
            position: absolute;
            margin-top: -5px;
          }
    #everly__logo{
      float: right;
      background-color: rgb(255, 230, 0);
      padding: 2rem;
      border-radius: 50%;
      margin-top: -5rem;
     position: relative;
     display: flex;
    justify-content: center;
    align-items: center;
    right: 20px;
    width: 2.5rem;
    height: 2.5rem;
     
    }
    #usuarios_matcha{
      max-width: 70%;
    }
    #usuarios_matcha img{
      max-width: 10%;
    }
    .caso_estudio{
      color: white;
      background-color: blue;

    }
    #texto__claro__casos{
      color: gray;

    }
    #carrito__texto{
      display: flex;
      gap: 2.5rem;
    }
    #carrito{
      width: 15%;
    
    }
    #usuarios_matcha{
      margin: 3rem 1rem auto 3.5rem;
    }
    /*cuadricula blog */
    .features{
      display: grid;
       /*grid-template-columns: 300px 300px;
     grid-template-columns: 500px, 1fr;
     grid-template-columns: 1fr, 1fr;
      grid-template-columns: repeat(2, 300px);*/
      grid-template-columns: 1fr 1fr;
      grid-template-rows: repeat (2, 330px);
      max-width: 100%;
      height: 120%;
      background-color: rgb(30, 81, 105);
      margin-top: 3.5rem;
      padding: 8rem 4rem;
      justify-content: start;
      align-items: end;
      gap: 2rem;
      
      
    }

    .feature-art{
      display: grid;
      grid-template-columns: 80% 20%;
      grid-template-rows: 20% 80%;
      background-color: white;
      margin: 0px;
      width: 40rem;
      height: 20rem;
      position: relative;
      overflow: hidden;
      font-family: sans-serif;
      
     
          }
    .features__art__logo{
      width: 4rem;
      height: 4rem;
       position: relative;
       margin-top: 1rem;
       margin-left: 2rem;
      
    }
    .features__art__img{
      width: 8rem;
      height: 14rem;
      position: relative;
      align-items: center;
      margin-top: 4rem;
      margin-left: 2rem;
               }
    .features__art__text{
      position: relative;
      margin-top: 2rem;
      margin-left: 2rem;
    }
    /*.features__art__a{
      color: green;
      background-color: red;
    }*/
    .feature-art a{
      color: green;
    }
    /*footer*/
    footer a{
      font-family: brush script mt;
      color: green;
      font-size: 2rem;
      text-decoration: none;
      }
     footer{
      text-align: right;
      background-color: greenyellow;
    }
    footer :hover{
      color: honeydew;
     
       }

    /* how does marcha work */

    .how-does-matcha-work{
      background-color: rgb(250, 242, 242); 
     
    }

        #how-does-match-work-container{
      display: grid;
      max-width: 100%;
      margin: 2rem;
     grid-template-columns: auto auto auto auto;  
     align-items: center;   
     font-family: sans-serif;  
        
        
    }
    #how-does-matcha-work__head{
      display: grid;
      padding: 2rem;
      grid-template-rows: 1;
      align-items: flex-start;
     color: rgb(19, 77, 170);
     font-size: 1.5rem;
      max-width: 40%;
     margin-left: 30%;
             }
    
    #how-does-matcha-work__head h1{
      line-height: 60px;
      font-size: 2.5rem;
      font-family:  alegreya;
      color: #025157;
      text-align: center;
      margin-bottom: 2px;
          }
    #how-does-matcha-work__head a{
      color: green;
      text-decoration: none;
    }
    .how-does-matcha-work h2{
      color: rgb(30, 30, 105);
      text-align: center;
    }
    .how-does-matcha-work p{
      text-align: left;
      align-self: center;
      color: black;
      padding: 1%;
    }

    .how-does-match-work__grid{
        border: 1px solid;
        margin-right: 6%;
        height: 103%;
        width: 75%;
        background-color: white;
                  }

    .how-does-match-work__grid a{
    color: green;
    text-decoration: none;
    padding: 1rem;
    float: inline-start;
    font-weight: bold;
        }
    .how-does-match-work__grid__logo{
      height: 5%;
      width: 7%;
      float: inline-start;
      padding: 1rem;
    }
    .how-does-matcha-work button{
      font-weight: bold;
    }
    .carousel-item{
      max-width: 50%;
      max-height: 50%;
    }
    .card-body{
      background-color: #025157;
      color: white;
      display: grid;
      grid-template-columns: 1fr 1fr 20%;
      max-width: 70%;
      margin-left: 10%;
      margin-bottom: 2rem;
      padding-top: 4rem;
      border-radius: 8px;

    }
    .card-tittle{
      grid-column: 1 / 2;
      font-family: alegreya;
      font-size: 34px;
      line-height: 1.3;
     grid-row: 2 / 3;
      
    }
    .card-text{
      grid-column: 1 / 2;
      grid-row: 2 / 3;
    }
    .card-input{
      grid-column: 2 / 3;
      max-width: 100%;
      border-radius: 8px;
      color: white;
      font-size: 17px;
    }
    .card-a{
      grid-column: 3 / 4;
      text-align: center;
      justify-content: center;
      background-color: #67b54b;
      border-radius: 8px;
      color: white;


    }
    .card-texto-claro{
      grid-column: 2 / 3;
    }

    /** dispositivos móviles en vista viewport (vertical) */
@media (max-width: 575px) {
  .navbar, .actions{
    display: none;
      }
      main h1{
        font-size: 30px;
        text-align: center;
              }
      main{
        margin-top: 150px;
            }
            main img{
              max-width: 100%;
            }
              .features{
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: 1fr 1fr 1fr 1fr;
                margin: 0 0 10px 0;
                padding: 0;
               
              }
              .feature-art{
                width: 80%;
                height: 80%;
                margin-left: 45px;
                font-size: 8px;
                gap: 5px;
                margin-bottom: 10px;
              }
              .feature-art h2{
                margin-top: -10px;
              }
              .features__art__logo{
                max-width: 20px;
                max-height: 20px;
                
              }
              .features__art__img{
                  display: none;
              }
          .publicidad__contenedor{
            display: inline-block;
            margin-left: 10px;
          }
          .publicidad__contenedor video{
            width: 90%;
            height: 200px;
                      }
          .publicidad__contenedor p{
            margin-top: -30px;
          }
          .publicidad__imagen__pequeña{
            display: none;
          }

          /** QUIEN USA MATCHA RESPONSIVE **/
          .quien_usa_matcha{
            display: grid;
            grid-template-columns: 1 100%;
            max-width: 100%;
          }
          .quien_usa_matcha h3{
            font-size: 25px;
          }
          .quien_usa_matcha p{
            font-size: 15px;
            
          }
          #usuarios_matcha{
            max-width: 100%;
            
          }

          /** RESPONSIVE DESING EN HOW DOES MATCHA WORKS ULTIMA PARTE**/
          .how-does-matcha-work{
                        
          }
          
          #how-does-matcha-work__head{
            display: grid;
            grid-template-columns: repeat(1, 100%);
            grid-template-rows: repeat(1, 100px);
            width: 180%;
            margin: 0;
            margin-left: 30px;
            padding: 0;
            
                     }
          #how-does-matcha-work__head h1{
            font-size: 20px;
            margin-bottom: -10px;
            text-align: center;
            width: 180%;
            height: 50px;
           
          }
          #how-does-matcha-work__head p{
            font-size: 18px;
            margin-top: -20px;
            text-align: center;
            width: 180%;
          }
          #how-does-matcha-work__head button{
            font-size: 12px;
            width: 100%;
            margin-left: 50px;
          }
          #how-does-match-work-container{
            display: grid;
            grid-template-columns: repeat(1, 120%);
            grid-template-rows: repeat(4, 1fr);
            gap: 2rem;
            
            
          }
          .how-does-match-work__grid{
            max-width: auto;
            max-height: auto;
           

          }
}
/** dispositivos pequeños en vista landscape (horizontal) */
@media (min-width: 576px) and (max-width: 767px) {
  main img{
    max-width: 100%;
  }
  .features{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    margin: 0 0 10px 0;
    padding: 0;
   
  }
  .feature-art{
    width: 80%;
    height: 80%;
    margin-left: 45px;
    font-size: 8px;
    gap: 5px;
    margin-bottom: 10px;
  }
  .feature-art h2{
    margin-top: -10px;
  }
  .features__art__logo{
    max-width: 20px;
    max-height: 20px;
    
  }
  .features__art__img{
      display: none;
  }
  .publicidad__contenedor{
    display: inline-block;
  }
  .publicidad__contenedor video{
    width: 500px;
    height: 400px;
                      
  }
  .publicidad__imagen__pequeña{
    display: none;
  }
    
  
}
/** dispositivos medianos (tablets) */
@media (min-width: 768px) and (max-width: 991px) {
  main img{
    max-width: 100%;       
  }
  .publicidad__contenedor{
    display: inline-block;
    margin-left: 50px;
  }
  .publicidad__contenedor video{
    width: 500px;
    height: 400px;}
    .publicidad__contenedor p{
      margin-top: -20px;
    }
               
  .features{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    margin: 0 0 10px 0;
    padding: 0;
   
  }
  .feature-art{
    width: 80%;
    height: 80%;
    margin-left: 45px;
    font-size: 10px;
    gap: 5px;
    margin-bottom: 10px;
  }
  .feature-art h2{
    margin-top: 0;
    font-size: 15px;
  }
  .features__art__logo{
    max-width: 45px;
    max-height: 45px;
    
  }
  .features__art__img{
      margin-top: -15px;
      margin-right: 0;
      
  }
  .publicidad__imagen__pequeña{
    display: none;
  }

}
/** dispositivos grandes (desktops) */
@media (min-width: 992px) and (max-width: 1199px) {
}
/** dispositivos extra grandes (monitores grandes, tvs) */
@media (min-width: 1200px) {
}             